@font-face {
  font-family: Montserrat;
  src: url("montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("./Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("./Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf");
  font-style: italic;
}
body {
    margin-left:auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: #c0d4ff;
    font-family: Roboto, sans-serif;
    height: 100vh;
  
    
}


h1 {
    color: rgb(255, 255, 255); 
    font-size: 60px;
    font-family: Montserrat;
}

h2 {
    color: rgb(96, 16, 171);
    font-size: 48px;
    font-family: Montserrat;
}

h3 {
    color: rgb(96, 16, 171);
    font-size: 32px;
    font-family: Montserrat;
    
}

h4 {
    color: rgb(96, 16, 171);
    font-size: 18px;
    font-family: Montserrat;
}

h5, h6 {
    color: rgb(96, 16, 171);
    font-size: 16px; 
    font-family: Montserrat;
}
.container1
{
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}
.container1 > div {
  background-color:white;
  padding: 10px;
}
.container1 > div.header1 {
  text-align: center;
  background-color: rgb(92, 92, 128);
  background-image: linear-gradient(to right, rgb(62, 61, 61) , rgb(107 143 232));

}

.profile
    {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-between;
       padding-bottom: 20px;
       border-bottom: 6px solid black;
    }
  .harrastukset ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
.container {
          display: grid;
          grid-template-areas:
            "header header"
            "MainNav MainNav"
            "menu content"
            "footer footer";
          grid-template-columns: 1fr 3fr;
          gap: 5px;
          padding: 10px;
        }
        .container > div {
          background-color:white;
          
        }
        .container > div.header {
          grid-area: header;
          padding: 1em 3em 1em 3em;
          background-color: rgb(92, 92, 128);
          background-image: linear-gradient(to right, rgb(62, 61, 61) , rgb(107 143 232) );
    
        }
        .container > div.MainNav {
          grid-area: MainNav;
          padding: 1em 3em 1em 3em;
        }
        .container > div.menu {
          grid-area: menu;
          background-color: rgb(251, 255, 255);
          padding-left: 3em;
      
          
        }
        .menu nav div
        {
            margin-top: 2em;
        }

        .container > div.content {
          grid-area: content;
          padding: 5em 3em;
        }
        .container > div.footer {
          grid-area: footer;
          display: flex;
          padding: 3em 3em;
          justify-content: center;
          align-items: center;
        }

a {
    color: #008000; 
    text-decoration: none;
    font-size: 20px;
    margin-right: 3em;
  }
  
  
a.visited {
    color: rgb(38, 38, 38); 
  }
  
  
a:hover 
{
    color: #00ff00;
    font-size: 21px; 
}
a:active
{
    color: blue;
}
  
  
button 
{
    background-color: #008000; 
    color: #ffffff; 
    border: none; 
    padding: 10px 20px;
    cursor: pointer;
}
  

button:hover
{
    background-color: #00ff00; 
    color: #000000; 
}

      
.main-con{
        display: flex;
        flex-wrap: wrap;
    }

div.gallery {
margin: 5px;
border: 1px solid #ccc;
width: 100px;
flex: 20%;

}

div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
width: 100%;
height: auto;
}
.main-pic
{
 display: grid;
 grid-template-columns: 1fr 3fr 1fr;
}
.icon
{
 display: grid;
 place-content: center;
 background-color: white;
 font-size: 65px;
}
.main-pic img{
  max-width: 100%;
  height: auto;

}
.icon{
  display: grid;
  align-items: center;
}
.iconi{
font-size: 70px;
}

.table-container{
  display: flex;
  flex-wrap: wrap;
}
.table-container table{
  width: 100%; 
  height: 500px; 
  border-collapse: collapse; 
  margin: 20px auto;
}





@media (max-width: 639px) {
  .MainNav nav, .footer nav{
      display: flex;
      flex-direction: column; 
  }
  .profile .texti{
    order: 2;
  }
  .profile figure{
    order: 1;
  }
  .harrastukset ul{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  body {
      margin-left: 16px;
      margin-right: 16px;
  }

  h1 { font-size: 32px; }
  h2 { font-size: 26px; }
  h3 { font-size: 22px; }
  h4 { font-size: 18px; }

.container > div.header {
  grid-area: 1 / span 2;

}
.container > div.MainNav {
  grid-area: 2 / span 2;
}
.container > div.menu {
  grid-area: 3 / span 2; 
}


.container > div.content {
  grid-area: 4 / span 2;
 
}
.container > div.footer {
  grid-area: 5 / span 2;
 
}
.main-con{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
div.gallery{
  width: auto;
}
.main-pic
{
 display: grid;

}
.iconi{
  font-size: 20px;
  }

}